<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<title>Pretraga životopisa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link
	href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
	rel="stylesheet" media="screen" />
<script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
	th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
<meta charset="UTF-8">

</head>

<body>
	<th:block layout:fragment="content">
		<div class="hero-unit">
	
		<table class="table" border="1">
				<thead>
					<tr>
						<th style="text-align: center;" th:text="IDZivotopis" />
						<th style="text-align: center;" th:text="'Ime Prezime'" />
						<th style="text-align: center;" th:text="'Datum Stvaranja'" />
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="cv, iStat : ${results}"
						th:style="${iStat.odd}? 'background: #f5f5f1;'"
						th:alt-title="${iStat.even}? 'even' : 'odd'">
						<td style="text-align: center;" th:text="${cv.zivotopisID}" />
						<td style="text-align: center;" th:text="|${cv.osoba.ime} ${cv.osoba.prezime}|" />
						<td style="text-align: center;" th:text="${cv.datumStvaranja}" />
						<td style="text-align: center;">
							<form th:action="@{delete}" method="post">
								<input type="hidden" th:value="${cv.zivotopisID}" name="zivotopisID" />
								<button type="submit">Obriši</button>
							</form>
						</td>
					</tr>
				</tbody>
			</table>
		
	</div>
	</th:block>
</body>
</html>