<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/layout}">

<head>
<title>Upload životopisa</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8">

</head>
<body>

	<!-- Insert content into the layouts/layout.html -->
	<th:block layout:fragment="content">
		<div class="hero-unit">
			<!--  <div class="row">-->
				<div class="col-md-2"></div>
				<div class="col-md-10">
					<h2>Pošaljite Vašu XML datoteku životopisa</h2>

					<form method="POST" action="/upload" enctype="multipart/form-data">
						<input type="file" name="file" /><br />
						<!-- ovdje name = "file" mora biti jednak (@RequestParam("file") -->
						<input type="submit" value="Spremi u bazu" />
					</form>
				</div>
				<!--  <div class="col-md-3"></div>
			</div>-->

		</div>
	</th:block>
</body>
</html>
